@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

body {
  padding-top: 1%;
  background-image: url('images/hogwarts.jpg');
  background-size: 100%;
  display: grid;
  place-items: center;
}

.game {
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #fbfcfd;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 400px;
  height: 400px;
  gap: 5px;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}
